body {
    background: rgb(245,245,245);
}

.nasa-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

.nasa-card h1 {
    border-bottom: 1px solid grey;
    padding: 1rem;
    color: black;
}

.nasa-card p {
    padding: 1rem;
    color: black;
    line-height: 30px;
}

.nasa-image {
    height: 500px;
    width: 500px;
    border-radius: 25px;
}